{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        
            <div class="col-8">
                <br><br>
                <div class="card mb-3" style="max-width: 900px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{product.Name}}</h5>
                          <p class="card-text">{{product.Description}}</p>

                          {% if product.is_sale %}
                           <!-- Sale badge-->
                           <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                           <!-- Product reviews-->
                           <div class="d-flex justify small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                        </div>
                        
                           <!-- Product price-->
                           <strike>${{product.Price}}</strike> &nbsp; ${{product.sale_price}}

                           {% else %}
                           

                           ${{product.Price}}
                          {% endif %}


                          <br><br>
                          
                          <select class="form-select" >
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select>

                          <a href="{% url "home" %}" class="btn btn-secondary">Go back</a>
                          <button type="button" value="{{product.id}}" id="add-cart" class="btn btn-secondary">Add to Cart</button>
                      
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </center>
    </div>
</div>

<br><br><br><br><br><br><br><br><br>

<script>
  //Check if button pressed
  $(document).on('click','#add-cart',function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'{% url "cart_add" %}',
      data:{
        product_id:$('#add-cart').val(),
        csrfmiddlewaretoken:'{{ csrf_token }}',
        action:'post'
      },
      success:function(json){
        //console.log(json)
        document.getElementById("card_quantity").textContent=json.qty
      },
      error:function (xhr,errmsg,err){

      }


    });
  })
</script>
{% endblock content %}